%section.row#hero.six.sixths
	.row#hero_inside.six.centered.twelfths
		%p#hero_inside_large_text.pull-left
			Login
		= form_for(:session, url: sessions_path) do |f|	
			.row
				.one.whole
					.pull-left= f.label :email
				.one.half.pull-left
					= f.text_field :email
			.row
				.one.whole
					.pull-left= f.label :password
				.one.half.pull-left
					= f.password_field :password
			%br
			.pull-left= f.submit "Login"
		%br
		%br
		.pull-left Or
		%br
		%br
		%p.big_button_paragraph.pull-left
			= link_to('/auth/facebook') do 
				%button.yb_button.blue
					Login with facebook

