#register_form
  .row
    = form_for @user, :url => users_path, :remote => true do |f|
      .small-3.columns
        = f.text_field :name, :placeholder => 'Name'
      .small-3.columns
        = f.text_field :email, :placeholder => 'Email'
      .small-3.columns
        = f.text_field :cell_number, :placeholder => 'Cell number'
      .small-3.columns
        = f.submit "Create", :class => 'button expand postfix'
    .small-3.columns#cancel_btn
      = link_to "Cancel", users_cancel_path, :remote => true