.tutor_form.animated.bounceInDown
  .row
    .one.half.pull-left.padded
      Teacher Form
  = nested_form_for @user do |f|
    = f.hidden_field :role, value: 'tutor'
    = f.hidden_field :time_zone, value: "America/New_York"
    = render 'user_info_form', f: f
    = f.fields_for :openings do |form|
      .padded= form.label :day_open, "Day open"
      .padded= form.select("day_open", {"Sunday" => "Sunday", "Monday" => "Monday", "Tuesday" => "Tuesday", "Wednesday" => "Wednesday", "Thursday" => "Thursday", "Friday" => "Friday", "Saturday" => "Saturday"})
      .padded= form.label :time_open, "Time open"
      .padded= form.select("time_open", {"9 pm" => "9 pm", "10 pm" => "10 pm", "11 pm" => "11 pm" })
      .row.padded
        .absolute.right= form.link_to_remove "Remove this availability"
    .row.pad-top
      = f.link_to_add "Add available time", :openings, class: 'add_time_available_button button asphalt pad-top'
    .row
      = f.submit 'Sign Up', class: 'green button large padded fixed center'