#tutee_form.tutee_form
  Tutee Form
  = nested_form_for @user do |f|
    = f.hidden_field :role, value: 'tutee'
    = f.label :name
    = f.text_field :name
    = f.label :email
    = f.text_field :email
    = f.label :cell_number
    = f.text_field :cell_number, :hint => '5555555555'
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = f.label :per_week, 'How many sessions do you want to teach per week?'
    = f.select("per_week", "1" => 1, "2" => 2, "3" => 3)
    = f.fields_for :openings do |form|
      = form.label :day_available
      = form.select("day_open", {"Sunday" => "Sunday", "Monday" => "Monday", "Tuesday" => "Tuesday", "Wednesday" => "Wednesday", "Thursday" => "Thursday", "Friday" => "Friday", "Saturday" => "Saturday"})
      = form.label :time_available
      = form.select("time_open", {"1 pm" => "15", "2 pm" => "16", "3 pm" => "17" })
      = form.link_to_remove "Remove this availability"
    = f.link_to_add "Add a time available", :openings
    %br
    = f.submit