.tutee_form.animated.bounceInDown
  .row
    .one.half.pull-left.padded
      Learner Form
  = nested_form_for @user do |f|
    = render 'shared/error_messages', user: @user
    = f.hidden_field :role, value: 'tutee'
    = f.hidden_field :time_zone, value: "New Delhi"
    = render 'user_info_form', f: f
    = f.fields_for :openings do |form|
      = form.label :day_open, "day open"
      = form.select("day_open", {"Tuesday" => "Tuesday", "Wednesday" => "Wednesday", "Thursday" => "Thursday", "Friday" => "Friday"})
      = form.label :time_open, "time open"
      = form.select("time_open", {"9:00 pm" => "9:00 pm", "10:00 pm" => "10:00 pm"})
      .row.padded
        .absolute.right= form.link_to_remove "Remove this availability"
    .row.padded
      = f.link_to_add "Add available time", :openings, class: 'add_time_available_button button asphalt pad-top'
    .row.padded
      = f.submit 'Sign Up', class: 'green button large padded fixed center'
    %br
    %br
    %br