- if @user.name
  .row.padded
    Thanks #{@user.name}! Now we just need a few things more.
- else @user.name
  .row
    .one.half.pull-left.padded
      = f.label :name
      = f.text_field :name
.row
  .one.half.pull-left.padded
    = f.label :cell_number
    = f.text_field :cell_number
  .one.half.pull-left.padded
    = f.label :twitter_handle
    = f.text_field :twitter_handle
- unless @user.password_digest
  .row
    .one.half.pull-left.padded
      = f.label :password
      = f.password_field :password
    .one.half.pull-left.padded
      = f.label :password_confirmation
      = f.password_field :password_confirmation
.row
  .one.half.pull-left.padded
    = f.label :per_week, 'How many sessions do you want to teach per week?'
    = f.select("per_week", "1" => 1, "2" => 2, "3" => 3)