%h2= "Matches for #{@auth.name}"
Your matching appointments:
= form_tag "/appointments/batch", method: "post" do
	- @matches.each_with_index do |match, idx|
		%br
		%br
		%span= "#{match[:user].name}'s availabilities"
		- match[:times].each do |time|
			%p
			%span= time.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M%p on %As")
			= check_box_tag '[match_id][]', "#{match[:user].id}.#{time}"
	%br
	%p= submit_tag "Sign up for classes"