#container
  .row
    .twelve.columns
      = form_for @user do |form|
        %p I am a...
        .two.columns
          = form.label "Tutor"
          = radio_button_tag(:role, "tutor", :html => {:id => 'role_tutor' })
        .two.columns
          = form.label "tutee"
          = radio_button_tag(:role, "tutee", :html => {:id => 'role_tutee' })
        .eight.columns
  .row
    .12.columns
      = render 'users/tutor_form'
  .row
    .12.columns
      = render 'users/tutee_form'