.row#background_show
	.four.centered.fifths#main
		.row.triple-pad-top
			#info
				.one.third.double-padded
					%h1#basic_info_user_name.pad-bottom.align-center.responsive
						= @user.location.geocoder_address_info.try(:city) + ", " + @user.location.geocoder_address_info.try(:state) if @user.location
					#map
						#map_canvas.rounded
				.one.third.double-padded
					%h1#basic_info_user_name.pad-bottom.responsive=@user.name
					#basic_info_profile_summary.box
						= "Classes completed: #{pluralize(@user.appointments.complete.count, "class")}"
						- if @user.is_tutor?
							%p= "Current students: #{pluralize(@user.appointment_partners.count, "student")}"
						- else
							%p= "Current teachers: #{pluralize(@user.appointment_partners.count, "teacher")}"
				.one.third.double-padded
					%h1#basic_info_user_name.pad-bottom.responsive Upcoming sessions	
					.box
						- @user.availability_manager.remaining_occurrences(Time.current + 14.days).each do |occurrence|
							%p= occurrence.in_time_zone(@user.time_zone).strftime("%B %-d at %I:%M%p on %A")
			.main_section
				- if @user.role == 'tutee'
					- @user.photos.tweet_created_at_asc.each do |photo|
						%row.padded.center
							= image_tag photo.url
				- elsif @user.role == 'tutor'
			- if @user.location && @user.location.latitude && @user.location.longitude
				%script
					= "display_map(#{@user.location.latitude}, #{@user.location.longitude});"	

