- occurrence = @user.specific_openings(Time.current + 14.days).first
= render "openings_modal"
.row#background_show.pad-bottom
	.four.centered.fifths#main
		.row
			.cover-photo
				= image_tag "http://img1.tutorpl.us.s3.amazonaws.com/a/01.jpg"
			#main-info.padded
				#user-name-wrap
					.user-name.half-pad
						%h2=@user.name
					.user-info
						%span.padded #{pluralize(@user.appointments.complete.try(:count), "class")} completed
						%span.padded #{pluralize(@user.appointment_partners.try(:count), "current student")}
						- if occurrence && @auth
							%span.padded Next opening #{occurrence.scheduled_for.in_time_zone(@auth.time_zone).strftime("%B %-d at %l:%M %p on %A")}
						- if @auth == @user
							%span.padded
								.button.green{'data-toggle' => 'modal', 'data-target' => '#myModal'}= "Add/Edit times available"
							%span
								.book-link.button.blue=link_to "View book", "https://dl.dropboxusercontent.com/u/22020175/Interchange%20Book%203.pdf"
				.one.fourth.padded
= render 'work'