.row.padded
	.four.centered.sixths
		%h1#assignments-title Today's Task
		.row
			.three.centered.fourths
				.two.fifths.pad-left
					= will_paginate @bookpage 
				.two.fifths
					=link_to "Download book", "https://dl.dropboxusercontent.com/u/22020175/Interchange%20Book%203.pdf"
				- @bookpage_photos.each do |photo|
					.row.padded.center
						= cl_image_tag(photo.path, { size: '600x500' })
						.best_in_place_comment
							.padded= best_in_place @comment, :comment_text, :type => :textarea, nil: "Got feedback? Click here and provide!  Anything #{@tutee.name} needs to work on? Learn anything interesting about #{@tutee.name}?  Think of any changes to the lesson? Add it here, and we'll gather the info for the next teacher!"
				.pad-left= will_paginate @bookpage
		#tab2{:role => "tabpanel"}
			- if @tutee.role == 'tutee' && @tutee.photos.present?
				- @tutee.photos.tweet_created_at_asc.each do |photo|
					%row.padded.center
						= image_tag photo.path
			- else
				%h1 No Photos Currently Available
				%br
				%br
				%br
				%br
				%br
				%br
