%header.max-width
	%nav.nav.double.padded#navigation
		.container
			%ul
				.pull-left
					%li#icon= link_to 'SpeakLoud.org', root_path
					%p#icon.pad-left It's your call
				.pull-right.navigation_right_side
					%li= link_to 'Sign Up', new_user_path, id: 'register_btn' if @auth.nil?
					%li= link_to 'Login', signin_path if @auth.nil?
					%li.relative.middle.right.padded= link_to 'Browse Users', users_path if @auth.present?
					%li.relative.middle.right.padded= link_to "Welcome #{@auth.name}", user_path(@auth) if @auth.present?
					%li.relative.middle.right.padded= link_to 'Signout', signout_path if @auth.present?
